<ion-header>
  <ion-toolbar>
    <ion-title>
      Agenda de Contatos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <!-- fab placed to the bottom end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="irParaCadastrar()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-list>
    <ion-item *ngFor="let contato of contatos">
      <ion-label>{{contato.nome}}</ion-label>
      <ion-label>{{contato.telefone}}</ion-label>
      <ion-label>{{contato.dataNasc}}</ion-label>
      <ion-label>{{contato.sexo}}</ion-label>
    </ion-item>
  </ion-list>
  
</ion-content>
